@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
.box{
    width:240px;
    height: 240px;
    background: #fff;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-100px;            
}
.box .content{
    width:240px;
    height:240px;
    background:#000;
    position:relative;    
}
.box .content img{
    -webkit-transition: all 500ms ;
    -moz-transition: all 500ms ;
    -ms-transition: all 500ms ;
    -o-transition: all 500ms ;
    transition: all 500ms ;
}
.box .content:hover img{
    opacity:0.3;
    margin-top:-20px;
    -webkit-filter: blur(3px);
}
.box .content:hover .text1{
    left:15px;
    opacity:1;    
  
}
.box .content:hover .text2{
    left:25px;
    opacity:1;
}
.box .content .text1{
    color:#fff;
    font-size:20px;
    font-family: 'Racing Sans One', cursive;
    position:absolute;
    left:220px;
    top:50px;
    opacity:0;

-webkit-transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795); 
   -moz-transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795); 
    -ms-transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795); 
     -o-transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795); 
        transition: all 800ms cubic-bezier(0.000, 0.440, 0.000, 0.795);

-webkit-transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795); 
   -moz-transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795); 
    -ms-transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795); 
     -o-transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795); 
        transition-timing-function: cubic-bezier(0.000, 0.440, 0.000, 0.795);    
}
.box .content .text2{
    color:#fff;
    font-size:15px;
    font-family: 'Racing Sans One', cursive;
    position:absolute;
    left:-1000px;
    top:120px;
    opacity:0;
-webkit-transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980); 
   -moz-transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980); 
    -ms-transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980); 
     -o-transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980); 
        transition: all 800ms cubic-bezier(0.000, 0.890, 0.630, 0.980);

-webkit-transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980); 
   -moz-transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980); 
    -ms-transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980); 
     -o-transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980); 
        transition-timing-function: cubic-bezier(0.000, 0.890, 0.630, 0.980);
}
.box:before{
    content:"";
    width:80%;
    height:8px;
    bottom: 18px;
    left: 13px;
    z-index: -1;
    background: #000;
    position: absolute;
    box-shadow: -10px 10px 20px #000;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.box:after{
    content:"";
    width:80%;
    height:8px;
    bottom: 18px;
    right: 13px;
    z-index: -1;
    background: #000;
    position: absolute;
    box-shadow: 100px 200px 300px #000;
    -moz-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
