/*
** Created by fossasia authors and students of GCI 2017
*/

.spread-children-large img {
  margin: 10px 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back-to-top:visited {
  color: #fff;
}

.footer-1 {
  padding: 60px 0px 20px 0px;
}

.footer-2 {
  padding: 16px;
  background: #383838;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.social-list li {
  padding: 0px 5px;
}

.footer-social-text {
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 500;
  color: #cecece !important;
  font-size: 20px;
}

.footer-logo {
  height: 31px;
  padding: 7px;
  box-sizing: content-box;
}

#map {
  width: 100%;
  height: 500px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.display-picture {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.twitter-timeline,.g-page{
  width: 100%;
}

.fb-big-iframe,.g-plus-big{
  display: block;
}
.fb-small-iframe,.g-plus-small{
  display: none;
}

@media screen and (max-width: 1200px) and (min-width:768px){
  .fb-big-iframe,.g-plus-big{
    display: none;
  }
  .fb-small-iframe,.g-plus-small{
    display: block;
  }
}

.flex-next {
  animation: bounceleft 2s infinite;
}

.flex-prev {
  animation: bounceright 2s infinite;
}

@keyframes bounceright {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
  
}

@keyframes bounceleft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}

.row.vid-row, .row.blog-row, ul#project_holder {
  display: flex;
  justify-content: space-around;
}

.btn.totalIssue {
  text-align: center;
  display: block;
}

.issue {
  display: block;
  text-align: left;
  width: 100%;
  height: 80px;
  padding: 18px;
  border-radius: 5px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
  background: #ffffff;
  border-left: 5px solid #E31D3B;
}

.issue:hover {
  box-shadow: 0px 3px 3px #bbb;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.01);
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
  background: #FFF;
}

.issue .open {
  display: block;
}

.comments {
  float: right;
  margin-top: -40px;
  font-size: 15px;
}

.issue a {
  font-size: 15px;
}
span.student-project-name {
  transition: 0.5s;
  background: #0000007F;
  color: white;
  cursor: pointer;
  display: table;
  height: 269px;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  top: -300px;
  padding: 10px;
  width: 269px;
 }
 
 span.student-project-name span {
  transition: 0.5s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
 }
 
.background-image-holder:hover span.student-project-name {
  opacity: 1;
  top: 0;
}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.code-in-nav:before { 
  content: " "; 
  background-image: url("../img/gci-logo.png"); 
  background-size: contain; 
  background-repeat: no-repeat; 
  padding: 0 12px; 
  padding-top: 0px; 
  font-size: 1.5rem; 
}

#student-blog .row {
	margin: auto;
}

#student-blog .col-md-3 {
	margin: auto;
	width: 240px;
	box-sizing: initial;
}

#student-blog .col-md-3 a {
	width: 240px;
}

.btnSpacing{
	margin-top:10px;
}

.typed-cursor{
  font-size: 40px;
  display: inline-block;
  animation-name: blink;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
	  opacity: 0;
  }
  
  20% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
}
