.icon-a {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.icon-i {
    padding: 0 !important;
    margin: 0 !important;
}

.person-name {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}

.card {
    width: 240px;
}

.bg-secondary {
    border-top-style: solid;
    border-top-width: 1.5px;
    border-color: #ddd;
}

h2.txt-rotate {
    height: 30px;
    margin-bottom: 0px;
}

.btn:hover {
    border-color: #e31d3b;
    border-style: solid;
    border-width: medium;
    background: none;
    color: #333;
}

div.image-tile.outer-title.text-center {
    margin-bottom: 0px;
}

.flex-direction-nav a.flex-next,
.flex-direction-nav a.flex-prev{
    display:none;
}
