.icon-a {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.icon-i {
    padding: 0 !important;
    margin: 0 !important;
}

.person-name {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}

.card {
    width: 240px;
}

#student_title {
  font-family: 'Cabin Sketch', cursive !important;
}

.bg-secondary {
  border-top-style: solid;
  border-top-width: 1.5px;
  border-color: #ddd;
 }

h2.txt-rotate {
    height: 25px;
    margin-bottom: 0px;
}
