---
permalink: activities
---

{% include header.html %}

<section class="bg-secondary">
	<div class="container">
		<div class="col-sm-12 text-center">
			<h2 class="animated fadeIn">Website Activity</h2>
			<p class="lead mb64">Things to work on with</p>
		</div>
		<div class="col-sm-12 col-md-12 text-center">
			<div class="form-group">
			<input type="text" id="searchString" class="form-control" placeholder="Search for an issue ..." />
			</div>
		</div>
		<div class="col-sm-12 col-md-12 text-center" id="issueSearchOutput"></div>
		<div class="col-sm-12 col-md-12 text-center mentor-list" id="issues">
			<div class="issue-container container"></div>
		</div>
	</div>
</section>

{% include footer.html %}
