---
---
{% include header.html %}

<section class="image-slider slider-all-controls controls-inside pt0 pb0 height-70 parallax">
	<ul class="slides">
		<li class="overlay image-bg">
			<div class="background-image-holder">
				<img alt="image" class="background-image" src="img/slider/community-map.jpg">
			</div>
			<div class="container v-align-transform">
				<div class="row text-center">
					<div class="col-md-10 col-md-offset-1">
						<h2 class="mb-xs-16">Educating and inspiring students by being <br class="hidden-sm"> involved in open source projects</h2>
						<p class="lead mb40">
							Participate in Google Codein with <b>FOSSASIA</b> !
						</p>
						<a class="btn btn-lg btn-filled" href="https://codein.withgoogle.com/organizations/fossasia/">Take me Along !</a>
						<a class="btn btn-lg" href="#mentors">Explore the site</a>
					</div>
				</div>
			</div>

		</li>
		<li class="overlay image-bg">
			<div class="background-image-holder">
				<img alt="image" class="background-image" src="img/slider/group-photo.jpg">
			</div>
			<div class="container v-align-transform ">
				<div class="row text-center">
					<div class="col-md-10 col-md-offset-1">
						<h2 class="mb-xs-16"><b><i>"The Open Conversational Web"</i></b>  <br class="hidden-sm">Asia's Premier Open Technology Event</h2>
						<p class="lead mb40">
							FOSSASIA SUMMIT IN SINGAPORE<br>
							22<sup>th</sup> - 25<sup>th</sup> March, 2018
						</p>
						<a class="btn btn-lg btn-filled" href="https://2018.fossasia.org/">I'm Interested !</a>
					</div>
				</div>

			</div>

		</li>
	</ul>
</section>

<!-- Mentors -->
<section class="bg-secondary" id="mentors">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<h2 class="animated fadeIn">Mentors for you</h2>
			</div>
		</div>
		<div class="row mb64 mb-xs-24 mentor-list">
			<div class="col-sm-12 text-center spread-children-large">
				{% for mentor in site.data.mentors limit:5 %}
					<div class="card single-mentor">
						{% if mentor.image %}
								<img data-src="img/mentors/{{mentor.image}}" alt="{{ mentor.name }}">
						{% else %}
							<img data-src="img/mentors/member.png" alt="{{ mentor.name }}">
						{% endif %}
						<br>
						<p class="person-name">{{ mentor.name }}</p><br>
						<ul class="list-inline social-list social-overlay-list ">
							{% if mentor.github %}
								<a href="https://github.com/{{mentor.github}}" class="icon-a">
									<i class="icon-i fa fa-github fa-2x" aria-hidden="true"></i>
								</a>

								{% endif %}
								{% if mentor.twitter %}
								<a href="https://twitter.com/{{ mentor.twitter }}" class="icon-a">
									<i class="icon-i fa fa-twitter fa-2x" aria-hidden="true"></i>
								</a>
								{% endif %}
								{% if mentor.blog %}
								<a href="https://{{ mentor.blog }}" class="icon-a">
									<i class="icon-i fa fa-rss fa-2x" aria-hidden="true"></i>
								</a>
								{% endif %}
								{% if mentor.facebook %}
								<a href="https://facebook.com/{{ mentor.facebook }}" class="icon-a">
									<i class="icon-i fa fa-facebook fa-2x" aria-hidden="true"></i>
								</a>
							{% endif %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<a class="mb0 btn btn-lg btn-filled" href="{{ baseurl }}./mentors">More</a>
			</div>
		</div>
	</div>
</section>

<!--contributors section-->
<section class="bg-secondary">
	<div class="container">
		<div class="col-sm-12 text-center">
			<h2 class="animated fadeIn">Contributors</h2>
			<p class="lead mb64">People who have made contributions to gci17.fossasia.org</p>
		</div>
		<div class="col-sm-12 col-md-12 text-center spread-children-large mentor-list" id="contributors"></div>
	</div>
</section>
<!--End of contributors section-->

<!-- Students -->
<section class="bg-secondary" id="students">
	<div class="container">

		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
			<h2 class="animated fadeIn">Students just like you.</h2>
		</div>
			<div class="col-sm-12 text-center spread-children-large mentor-list">
				{% for student in site.data.students limit:5 %}
				<div class="card single-mentor">
					{% if student.image %}
					<img data-src="img/students/{{student.image}}" alt="{{ student.name }}">
					{% else %}
					<img data-src="img/students/member.png" alt="{{ student.name }}">
					{% endif %}
					<br>
					<p class="person-name">{{ student.name }}</p><br>
					<ul class="list-inline social-list social-overlay-list">
						{% if student.github %}
						<a href="https://github.com/{{student.github}}" class="icon-a">
							<i class="icon-i fa fa-github fa-2x" aria-hidden="true"></i>
						</a>
						{% endif %}
						{% if student.twitter %}
						<a href="https://twitter.com/@{{student.twitter}}" class="icon-a">
							<i class="icon-i fa fa-twitter fa-2x" aria-hidden="true"></i>
						</a>
						{% endif %}
						{% if student.blog %}
						<a href="https://{{student.blog}}" class="icon-a">
							<i class="icon-i fa fa-rss fa-2x" aria-hidden="true"></i>
						</a>
						{% endif %}
						{% if student.facebook %}
						<a href="https://facebook.com/{{student.facebook}}" class="icon-a">
							<i class="icon-i fa fa-facebook fa-2x" aria-hidden="true"></i>
						</a>
						{% endif %}
					</ul>
				</div>
				{% endfor %}
		  </div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<p class="mb40 mb-xs-24">
					Students participated in Google Code-in 2017 with Fossasia, just like you :)
				</p>
				<a class="mb0 btn btn-lg btn-filled" href="{{ baseurl }}./students">More</a>
			</div>
		</div>
	</div>
</section>

<section id="projects">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16 animated fadeIn">Student Projects</h4>
				<p class="lead mb64">Some projects developed by students during GCI</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="lightbox-grid square-thumbs">
					<ul id="project_holder">
							{% for project in site.data.student_projects %}
							<li class="student_project">
								<a href="{{project.github}}">
									<div class="background-image-holder">
											{% if project.image %}
											<img title="{{project.name}} by {{project.author}}"
									2					 class="background-image" src="img/projects/{{project.image}}">
											{% else %}
											<img title="{{project.name}} by {{project.author}}"
														 class="background-image" src="img/projects/default.png">
											{% endif %}
									</div>
								</a>
							</li>
							{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Thanks -->
<section class="bg-dark">
	 <div class="container">
		<div class="col-md-10 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform text-center">
		<h2 class="txt-rotate" data-period="1000" data-rotate='[ "Thank You For Contributing!", "योगदान करने के लिए धन्यवाद!", "Danke für den Beitrag!", "貢献していただきありがとうございます!", "பங்களித்ததற்கு நன்றி!", "Tak for bidrag!", "Grazie per aver contribuito!", "Go raibh maith agat as ranníoc!",  "Merci de contribuer!", "공헌 해 주셔서 감사합니다!", "অবদান রাখার জন্য আপনাকে ধন্যবাদ!", "දායක වූවාට ස්තුතියි!", "Gracias por contribuir!", "Спасибо Вам за Ваш вклад!", "Σας ευχαριστούμε για τη συμβολή!", "ขอบคุณสำหรับการมีส่วนร่วมกับเรา!", "Bedankt voor de bijdrage!"]'>
		</h2>
		</div>
	</div>
</section>


<!-- Map -->
<section class="bg-secondary">
	<div class="container" id="map-sec">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16">Community Connect</h4>
			</div>
			<div id="map"></div>
		</div>
	</div>
</section>

<!-- Social Embed -->
<section class="image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="img/cover11.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb64 mb-xs-32">FOSSASIA in Social Media</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <a class="twitter-timeline" data-width="400" data-height="400" data-link-color="#E81C4F" href="//twitter.com/fossasia">Tweets by fossasia</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
			<div class="g-page" data-href="//plus.google.com/108920596016838318216" data-rel="publisher"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                     <iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffossasia&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="400"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Social Embed Ends -->
<!-- Placeholder -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2 class="number">370+ students</h2>
				<p>
					Over 370 students participated in Fossasia Google code-in 2017, many students made their way in contributing on many open source projects.
				</p>
			</div>
			<div class="col-sm-4">
				<h2 class="number">300+ Tasks</h2>
				<p>
					More than 300 tasks are completed this year, from blog post to creating website to developing AI, doesn't matter where do you start, you can be a great contributor!
				</p>
			</div>
			<div class="col-sm-4">
				<h2>2000+ contributors</h2>
				<p>
					Contributors are students, professors, mentors, and people who loves to be a part of our open source community, they helps creating better program and community.
				</p>
			</div>
		</div>

	</div>
</section>

<!-- Blog -->
<section class="bg-secondary" id="student-video">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16">Blogs</h4>
				<p class="lead mb64">Articles from the contributors</p>
			</div>
		</div>
		{% for blog in site.data.blogs %}
		
			{% capture modulo %}{{ forloop.index | modulo: 4 }}{% endcapture %}
			{% if modulo == '1' %}
				<div class="row">
			{% endif %}
			<div class="col-md-3">
					<a href="{{blog.url}}" target="_blank">
						<div class="box">
						<div class = "content">
							<img data-src="img/blog/{{blog.img}}" height="240" width="240"/>
							<div class="text1">
								{{blog.title}}
							</div>
							<div class="text2">
								{{blog.author_name}}
							</div>
						</div>
						</div>
						</div>
					</a>
				</div>
			{% if modulo == '0' or forloop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>

<!-- Videos -->
<section class="bg-secondary" id="student-video">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16">Videos</h4>
				<p class="lead mb64">Videos from students</p>
			</div>
		</div>
		{% for video in site.data.video %}

			{% capture modulo %}{{ forloop.index | modulo: 4 }}{% endcapture %}
			{% if modulo == '1' %}
				<div class="row">
			{% endif %}
				<div class="col-md-3">
					<a href="{{video.url}}" target="_blank">
						<div class="image-tile outer-title text-center">
							<img data-src="img/video/{{video.img}}" height="240" width="240">
								<h5 class="uppercase mb0">{{video.title}}</h5>
								<span>{{video.author_name}}</span>
						</div>
					</a>
				</div>
			{% if modulo == '0' or forloop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>


<!-- parallax image? -->
<section class="fullscreen image-bg parallax background-multiply">
	<div class="background-image-holder">
		<img alt="image" class="background-image" src="img/asia-bg.jpg">
	</div>
	<div class="container v-align-transform">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="bold mb0">FOSSASIA <br>Based in Asia.</h1>
			</div>
		</div>

	</div>

	<div class="align-bottom text-center">
		<a class="btn btn-white mb32" href="#">Pitch Us</a>
		<ul class="list-inline social-list mb24">
			<li>
				<a href="https://twitter.com/fossasia">
					<i class="ti-twitter-alt"></i>
				</a>
			</li>
			<li>
				<a href="https://facebook.com/fossasia">
					<i class="ti-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://dribbble.com/fossasia">
					<i class="ti-dribbble"></i>
				</a>
			</li>
			<li>
				<a href="https://vimeo.com/fossasia">
					<i class="ti-vimeo-alt"></i>
				</a>
			</li>
            <li>
                    <a href="https://www.instagram.com/fossasia">
                        <i class="ti-instagram" aria-hidden="true"></i>
                    </a>
            </li>
            <li>
                    <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">
                        <i class="ti-youtube" aria-hidden="true"></i>
                    </a>
            </li>
            <li>
                    <a href="https://flickr.com/photos/fossasia">
                        <i class="ti-flickr-alt" aria-hidden="true"></i>
                    </a>
            </li>
            <li>
                    <a href="https://github.com/fossasia">
                    	<i class="ti-github" aria-hidden="true"></i>
                    </a>
			</li>

		</ul>
	</div>
</section>

<!-- placeholder flickr feed -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="flickr-feed masonry masonryFlyIn" data-user-id="45240298@N08" data-album-id="72157665486359899"></ul>
			</div>
		</div>
	</div>
</section>


<!-- Videos from YouTube -->
<section class="bg-primary">
	<div class="container">
		<div class="row mb64 mb-xs-24">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<h3 class="mb40 mb-xs-24">FOSSASIA Google Code-In 2016/17</h3>
				<p class="lead">
					Here are some videos from last year FOSSASIA Google Code-In!
				</p>
			</div>
		</div>
		<div class="widget video-container">
			<iframe class="col-xs-12 col-sm-12 col-md-12 col-lg-10" src="https://www.youtube.com/embed/SLl--BrmAXs?list=PLzZVLecTsGpK544UhC1_Gm4sl4eW3lTEq" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</div>

</section>

<!-- Placeholder connect -->
<section class="cover fullscreen image-slider slider-arrow-controls controls-inside parallax">
	<ul class="slides">
		<li class="overlay image-bg">
			<div class="background-image-holder">
				<img alt="image" class="background-image" src="img/resto1.jpg">
			</div>
			<div class="container v-align-transform">
				<div class="row">
					<div class="col-sm-12 text-center">
						<img alt="Logo" class="image-small" data-src="img/fossasia-light.png">
					</div>
				</div>

			</div>
			<div class="align-bottom text-center">
				<a class="btn btn-white mb32" href="#">Connect</a>
				<ul class="list-inline social-list mb24">
					<li>
						<a href="https://twitter.com/fossasia">
							<i class="ti-twitter-alt"></i>
						</a>
					</li>
					<li>
						<a href="https://facebook.com/fossasia">
							<i class="ti-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://dribbble.com/fossasia">
							<i class="ti-dribbble"></i>
						</a>
					</li>
					<li>
						<a href="https://vimeo.com/fossasia">
							<i class="ti-vimeo-alt"></i>
						</a>
					</li>
					<li>
                                                <a href="https://www.instagram.com/fossasia">
                                                        <i class="ti-instagram" aria-hidden="true"></i>
                                                </a>
                                        </li>
                                        <li>
                                                <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">
                                                        <i class="ti-youtube" aria-hidden="true"></i>
                                                </a>
                                        </li>
                                        <li>
                                                <a href="https://flickr.com/photos/fossasia">
                                                        <i class="ti-flickr-alt" aria-hidden="true"></i>
                                                </a>
                                        </li>
                                        <li>
                                                <a href="https://github.com/fossasia">
													<i class="ti-github icon-i" aria-hidden="true"></i>
												</a>
                                        </li>

				</ul>
			</div>
		</li>
	</ul>
</section>



<section class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-right text-left-xs col-sm-5">
				<h1 class="uppercase mb24 bold italic">Fitness<br>For Life</h1>
				<h5 class="uppercase italic fade-1-4">“My passion is motivating<br> people to get results”</h5>
				<hr class="visible-xs">
			</div>
			<div class="col-md-5 col-sm-7">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</p>

				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
				</p>

				<p>
					Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
				</p>
				<img alt="signature" data-src="img/fitness1.png" class="image-small">
			</div>
		</div>
	</div>
</section>

{% include footer.html %}
