---
---
{% include header.html %}

<center>
	<div id="google_translate_element"></div>
</center>

<div class="rocket">
	<a href="javascript:void(0);" id="rocketmeluncur" class="showrocket">
		<div class="fire"></div>
	</a>
</div>

<section class="image-slider slider-all-controls controls-inside pt0 pb0 height-70 parallax">
	<ul class="slides">
		<li class="overlay image-bg">
			<div class="background-image-holder">
				<img alt="image" class="background-image" src="img/slider/community-map.jpg">
			</div>
			<div class="container v-align-transform">
				<div class="row text-center">
					<div class="col-md-10 col-md-offset-1">
						<h2 class="mb-xs-16">Educating and inspiring students by being <br class="hidden-sm"> involved in open source projects</h2>
						<p class="lead mb40">
							Participate in Google Codein with <b>FOSSASIA</b> !
						</p>
						<a class="btn btn-lg btn-filled" href="https://codein.withgoogle.com/organizations/fossasia/">Take me Along !</a>
						<a class="btn btn-lg" href="repositories.html">Explore the site</a>
					</div>
				</div>
			</div>

		</li>
		<li class="overlay image-bg">
			<div class="background-image-holder">
				<img alt="image" class="background-image" src="img/slider/group-photo.jpg">
			</div>
			<div class="container v-align-transform ">
				<div class="row text-center">
					<div class="col-md-10 col-md-offset-1">
						<h2 class="mb-xs-16"><b><i>"The Open Conversational Web"</i></b>  <br class="hidden-sm">Asia's Premier Open Technology Event</h2>
						<p class="lead mb40">
							FOSSASIA SUMMIT IN SINGAPORE<br>
							22<sup>th</sup> - 25<sup>th</sup> March, 2018
						</p>
						<a class="btn btn-lg btn-filled" href="https://2018.fossasia.org/">I'm Interested !</a>
						<a class="btn btn-lg btn-filled" href="https://fossasia.org/">Official Site</a>
					</div>
				</div>

			</div>

		</li>
	</ul>
</section>

<!-- Mentors -->
<section class="bg-secondary" id="mentors">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<h2 class="animated fadeIn">Mentors for you</h2>
			</div>
		</div>
		<div class="row mb64 mb-xs-24 mentor-list">
			<div class="col-sm-12 text-center spread-children-large">
				{% for mentor in site.data.mentors limit:5 %}
					<div class="card single-mentor">
						{% if mentor.image %}
								<img src="img/mentors/{{mentor.image}}" alt="{{ mentor.name }}">
						{% else %}
							<img src="img/mentors/member.png" alt="{{ mentor.name }}">
						{% endif %}
						<br>
						<p class="person-name">{{ mentor.name }}</p><br>
						<ul class="list-inline social-list social-overlay-list ">
							{% if mentor.github %}
								<a href="https://github.com/{{mentor.github}}" class="icon-a">
									<i class="icon-i fa fa-github fa-2x" aria-hidden="true"></i>
								</a>

								{% endif %}
								{% if mentor.twitter %}
								<a href="https://twitter.com/{{ mentor.twitter }}" class="icon-a">
									<i class="icon-i fa fa-twitter fa-2x" aria-hidden="true"></i>
								</a>
								{% endif %}
								{% if mentor.blog %}
								<a href="https://{{ mentor.blog }}" class="icon-a">
									<i class="icon-i fa fa-rss fa-2x" aria-hidden="true"></i>
								</a>
								{% endif %}
								{% if mentor.facebook %}
								<a href="https://facebook.com/{{ mentor.facebook }}" class="icon-a">
									<i class="icon-i fa fa-facebook fa-2x" aria-hidden="true"></i>
								</a>
							{% endif %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<a class="mb0 btn btn-lg btn-filled" href="{{ baseurl }}./mentors">More</a>
			</div>
		</div>
	</div>
</section>

<!--contributors section-->
<section class="bg-secondary">
	<div class="container">
		<div class="col-sm-12 text-center">
			<h2 class="animated fadeIn">Contributors</h2>
			<p class="lead mb64">People who have made contributions to gci17.fossasia.org</p>
			<a class="btn btn-lg" href="{{ baseurl }}./activities">view activities</a>
		</div>
		<div class="col-sm-12 col-md-12 text-center spread-children-large mentor-list" id="contributors"></div>
		
		<div class="col-sm-12 col-md-12 text-center">
	<a  class="btn" data-toggle="popover" title="" data-placement="bottom" href="https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/">How can I be a contributor?</a>	
	<a  class="btn" data-toggle="popover" title="" data-placement="bottom" href="https://github.com/fossasia/gci17.fossasia.org">View the Github Repository <i class="fa fa-github fa-lg"></i></a>
	<a  class="btn" data-toggle="popover" title="" data-placement="bottom" href="https://gci16.fossasia.org/#contributors">Contributors Gci'16</a>		
	 </div>
	</div>
</section>
<!--End of contributors section-->

<!-- Thanks -->
<section class="bg-dark">
	<div class="container">
		<div class="col-md-10 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform text-center">
			<h2 class="txt-rotate" data-period="1000" data-rotate='[ "Thank You For Contributing!", "योगदान करने के लिए धन्यवाद!", "Danke für den Beitrag!", "Dziękujemy za Twój wkład!", "貢献していただきありがとうございます!", "பங்களித்ததற்கு நன்றி!", "Tak for bidrag!", "Grazie per aver contribuito!", "Go raibh maith agat as ranníoc!",  "Merci de contribuer!", "공헌 해 주셔서 감사합니다!", "অবদান রাখার জন্য আপনাকে ধন্যবাদ!", "දායක වූවාට ස්තුතියි!", "Gracias por contribuir!", "Спасибо Вам за Ваш вклад!", "Σας ευχαριστούμε για τη συμβολή!", "ขอบคุณสำหรับการมีส่วนร่วมกับเรา!", "Bedankt voor de bijdrage!", "
Ευχαριστώ για τη συμβολή!", "شكرا للمساهمة!", "Tibi gratias ob tuam contributionem!"]'>
		   	</h2>
		</div>
	</div>
</section>

<!-- Students -->
<section class="bg-secondary" id="students">
	<div class="container">

		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
			<h2 class="animated fadeIn">Students just like you.</h2>
		</div>
			<div class="col-sm-12 text-center spread-children-large mentor-list">
				{% for student in site.data.students limit:5 %}
				<div class="card single-mentor">
					{% if student.image %}
					<img src="img/students/{{student.image}}" alt="{{ student.name }}">
					{% else %}
					<img src="img/students/member.png" alt="{{ student.name }}">
					{% endif %}
					<br>
					<p class="person-name">{{ student.name }}</p><br>
					<ul class="list-inline social-list social-overlay-list">
						{% if student.github %}
						<a href="https://github.com/{{student.github}}" class="icon-a">
							<i class="icon-i fa fa-github fa-2x" aria-hidden="true"></i>
						</a>
						{% endif %}
						{% if student.twitter %}
						<a href="https://twitter.com/@{{student.twitter}}" class="icon-a">
							<i class="icon-i fa fa-twitter fa-2x" aria-hidden="true"></i>
						</a>
						{% endif %}
						{% if student.blog %}
						<a href="https://{{student.blog}}" class="icon-a">
							<i class="icon-i fa fa-rss fa-2x" aria-hidden="true"></i>
						</a>
						{% endif %}
						{% if student.facebook %}
						<a href="https://facebook.com/{{student.facebook}}" class="icon-a">
							<i class="icon-i fa fa-facebook fa-2x" aria-hidden="true"></i>
						</a>
						{% endif %}
					</ul>
				</div>
				{% endfor %}
		  </div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<p class="mb40 mb-xs-24">
					Students participated in Google Code-in 2017 with Fossasia, just like you :)
				</p>
				<a class="mb0 btn btn-lg btn-filled" href="{{ baseurl }}./students">More</a>
			</div>
		</div>
	</div>
</section>

<section id="projects">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16 animated fadeIn">Student Projects</h4>
				<p class="lead mb64">Some projects developed by students during GCI</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="lightbox-grid square-thumbs">
					<ul class="list-inline social-list social-overlay-list">
							{% for project in site.data.student_projects %}
							<li class="student_project">
								<a href="{{project.github}}">
									<div class="background-image-holder">
											{% if project.image %}
											<img title="{{project.name}} by {{project.author}}"
									2					 class="background-image" src="img/projects/{{project.image}}">
											{% else %}
											<img title="{{project.name}} by {{project.author}}"
														 class="background-image" src="img/projects/default.png">
											{% endif %}
											<span class="student-project-name"><span>By {{ {project.author }}</span></span>
									</div>
								</a>
							</li>
							{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<a class="mb0 btn btn-lg btn-filled" href="https://gci16.fossasia.org/#stprojects">Student Projects'16</a>
			</div>
		</div>
	</div>
</section>

<!-- Map -->
<section class="bg-secondary">
	<div class="container" id="map-sec">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16">Community Connect</h4>
			</div>
			<div id="map"></div>
		</div>
	</div>
</section>

<!-- Social Embed -->
<section class="image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="img/cover11.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb64 mb-xs-32">FOSSASIA in Social Media</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <a class="twitter-timeline" data-width="400" data-height="400" data-link-color="#E81C4F" href="//twitter.com/fossasia">Tweets by fossasia</a>
                </div>
            </div>
			<div class="col-sm-4 g-plus-big">
				<div class="feature feature-1 boxed">
					<div class="g-page" data-width="300" data-height="300" data-href="//plus.google.com/108920596016838318216" data-rel="publisher"></div>
				</div>
			</div>
			<div class="col-sm-4 g-plus-small">
				<div class="feature feature-1 boxed">
					<div class="g-page" data-width="240" data-height="240" data-href="//plus.google.com/108920596016838318216" data-rel="publisher"></div>
				</div>
			</div>
			<div class="col-sm-4 fb-big-iframe">
				<div class="feature feature-1 boxed">
					<iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffossasia&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="400" style="overflow-x: scroll"></iframe>
				</div>
			</div>
			<div class="col-sm-4 fb-small-iframe">
				<div class="feature feature-1 boxed">
					<iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffossasia&tabs=timeline&width=240&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="400" style="overflow-x: scroll"></iframe>
				</div>
			</div>
		</div>
    </div>
</section>
<!-- Social Embed Ends -->

<!-- App Section -->
<section id="fossasia-projects">
	<section class="image-edge">
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="mb-xs-24" src="img/phone1.png">
    </div>
    <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
            <h1 class="large mb40 mb-xs-16">Open Event Android App Generator.</h1>
            <h6 class="uppercase mb16">Technologies used: Java, Shell Script, Python, Javascript, HTML, CSS, JSON, Rest-APIs, Android SDK</h6>
            <p class="lead mb40">
                The Open Event Android App Generator consists of 2 main parts - the app generator itself that creates apps and the Android app for browsing any event. The generator can be installed as a stand alone application or integrated as a microservice into the Open Event Server. Updates to content of events are done automatically through Rest-APIs of the server.
            </p>
            <a class="btn-lg btn" href="https://github.com/fossasia/open-event-android">Github Repository <i class="fa fa-github fa-lg"></i></a>
        </div>
    </div>
    
</section>
<section class="image-edge" id="sus">
    <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="Screenshot" class="mb-xs-24" src="img/phone2.png">
    </div>
    <div class="container">
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
            <h1 class="large mb40 mb-xs-16">SUSI.AI Android App</h1>
            <h6 class="uppercase mb16">Technologies used: Kotlin, Java, Shell Script, Python, Javascript, HTML, CSS, JSON, Rest-APIs, Android SDK, APIs, Facebook, Slack</h6>
            <p class="lead mb40">
                The main feature of the app is to provide a conversational interface to provide intelligent answers using the loklak/AskSusi infrastructure. The app also offers login functionalities to connect to other services and stored personal data. Additionally, the application uses data provided by the user's phone to improve Susi answers. Geolocation information, for example, helps to offer better answers related to questions about "things nearby".
            </p>
            <a class="btn-lg btn" href="https://github.com/fossasia/susi_android">Github Repository <i class="fa fa-github fa-lg"></i></a>
        </div>
    </div>
</section>
<section id="other-projects">
    <div class="container" >
        <div class="row text-center" >
            <div class="col-sm-4" style="height:350px">
                <h2 class="number">Phimp.me</h2>
                <p>
                    Do you have many different apps in your Android Phone for the purpose of clicking, editing and sharing images? Hey guess what, now you don't need all of those because Phimp.me is here, with all the features packaged into one. So go and clean your phone memory to save your space for other useful purposes.
                </p>                
                <div class="row" style="position:absolute; bottom:0px;left:30%">
                    <div class="col-sm-12"><a class="btn" href="https://phimp.me">Learn More</a></div>
                </div>                
            </div>            
            <div class="col-sm-4" style="height:350px">
                <h2 class="number">PSLab Android</h2>
                <p>
                    PSLab is a tiny pocket science lab that provides an array of equipment for doing science and engineering experiments. It can function like an oscilloscope, waveform generator, frequency counter, programmable voltage and current source and also as a data logger.
                </p>                
                <div class="row" style="position:absolute; bottom:0px; left:30%">
                    <div class="col-sm-12"><a class="btn" href="http://pslab.fossasia.org">Learn More</a></div>
                </div>           
            </div>
            <div class="col-sm-4" style="height:350px">
                <h2>Open Event Organizer App</h2>
                <p>Open Event Organizer App provides event management features like:<br>
					- Event manager log in and sign up<br>
					- Manual attendee check in<br>
					- Attendee check in through QR code scan<br>
					- Basic event analytics
                </p>                
                <div class="row" style="position:absolute; bottom:0px;left:30%">
                     <div class="col-sm-12"><a class="btn" href="https://github.com/fossasia/open-event-orga-app">Learn More</a></div>
                </div>              
            </div>
        </div>
        
    </div>
</section>
</section>

<!-- App Section Ends -->

<!-- Placeholder -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="https://gci17.fossasia.org/students"><h2 class="number">370+ students</h2></a>
				<p>
					Over 370 students participated in Fossasia Google code-in 2017, many students made their way in contributing on many open source projects.
				</p>
			</div>
			<div class="col-sm-4">
				<a href="https://codein.withgoogle.com/organizations/fossasia/"><h2 class="number">300+ Tasks</h2></a>
				<p>
					More than 300 tasks are completed this year, from blog post to creating website to developing AI, doesn't matter where do you start, you can be a great contributor!
				</p>
			</div>
			<div class="col-sm-4">
				<a href="https://github.com/fossasia/gci17.fossasia.org/graphs/contributors"><h2>2000+ contributors</h2></a>
				<p>
					Contributors are students, professors, mentors, and people who loves to be a part of our open source community, they helps creating better program and community.
				</p>
			</div>
		</div>

	</div>
</section>

<!-- Blog -->
<section class="bg-secondary" id="student-blog">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16">Blogs</h4>
				<p class="lead mb64">Articles from the contributors</p>
			</div>
		</div>
		{% for blog in site.data.blogs %}
				{% capture modulo %}{{ forloop.index | modulo: 4 }}{% endcapture %}
				{% if modulo == '1' %}
		<div class="row">
			{% endif %}
			<div class="col-md-3">
				<a href="{{blog.url}}" target="_blank">
					<div class="image-tile outer-title text-center">
						<div class="content">
							<img src="img/blog/{{blog.img}}" height="240" width="240">
							<div class="title mb16">
								<h5 class="uppercase mb0">
									<div class="blogorvideotitle">{{blog.title}}</div>
								</h5>
								<span>
									<div class="nameofauthor">{{blog.author_name}}</div>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% if modulo == '0' or forloop.last %}
		</div>
		{% endif %} {% endfor %}
	</div>
</section>
				
<!-- Videos -->
<section class="bg-secondary" id="student-video">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16">Videos</h4>
				<p class="lead mb64">Videos from students</p>
			</div>
		</div>
		{% for video in site.data.video %}
			{% capture modulo %}{{ forloop.index | modulo: 4 }}{% endcapture %}
			{% if modulo == '1' %}
		<div class="row">
			{% endif %}
			<div class="col-md-3">
				<a href="{{video.url}}" target="_blank">
					<div class="image-tile outer-title text-center">
						<div class="content">
							<img src="img/video/{{video.img}}" height="240" width="240">
							<div class="title mb16">
								<h5 class="uppercase mb0">
									<div class="blogorvideotitle">{{video.title}}</div>
								</h5>
								<span>
									<div class="nameofauthor">{{video.author_name}}</div>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% if modulo == '0' or forloop.last %}
		</div>
		{% endif %} {% endfor %}
	</div>
</section>

<!-- parallax image? -->
<section class="fullscreen image-bg parallax background-multiply">
	<div class="background-image-holder">
		<img alt="image" class="background-image" src="img/asia-bg.jpg">
	</div>
	<div class="container v-align-transform">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="bold mb0">FOSSASIA <br>Based in Asia.</h1>
			</div>
		</div>

	</div>

	<div class="align-bottom text-center">
		<a class="btn btn-white mb32" href="https://2017.fossasia.org">What happened in the last Summit?</a>
		<ul class="list-inline social-list mb24">
			<li>
				<a href="https://twitter.com/fossasia">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://facebook.com/fossasia">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
            <li>
                <a href="https://www.instagram.com/fossasia">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://flickr.com/photos/fossasia">
                    <i class="fa fa-flickr" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/fossasia">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
			</li>
			<li>
                <a href="https://www.vk.com/fossasia">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
			</li>
			<li>
				<a href="https://www.reddit.com/r/FOSSASIA/">
					<i class="fa fa-reddit"></i>
				</a>
			</li>	

		</ul>
	</div>
</section>

<!-- placeholder flickr feed -->
<section>

<div class="col-sm-12 text-center">
			<h2 class="animated fadeIn">Pictures</h2>
			<p class="lead mb64">Humans, not places, make memories.</p>
			<a class="btn btn-lg" target = "_blank" href="https://www.flickr.com/photos/fossasia/">see memories!</a>
</div>

<div id="flickrembed"></div><div style="position:absolute; top:-70px; display:block; text-align:center; z-index:-1;"><a href="https://youtubevideoembed.com">Embed Youtube</a></div><script src='https://flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input=72157665486359899&sort=0&by=album&theme=default&scale=fill&limit=10&skin=default-light&autoplay=true'></script><small style="display: block; text-align: center; margin: 0 auto;">Powered by <a href="https://github.com/0x48piraj">flickr | 0x48piraj</a>.</small>
</section>


<!-- Videos from YouTube -->
<section class="bg-primary">
	<div class="container">
		<div class="row mb64 mb-xs-24">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
				<h3 class="mb40 mb-xs-24">FOSSASIA Google Code-In 2016/17</h3>
				<p class="lead">
					Here are some videos from last year FOSSASIA Google Code-In!
				</p>
			</div>
		</div>
		<div class="widget video-container">
			<iframe class="col-xs-12 col-sm-12 col-md-12 col-lg-10" src="https://www.youtube.com/embed/SLl--BrmAXs?list=PLzZVLecTsGpK544UhC1_Gm4sl4eW3lTEq" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
<blockquote class="embedly-card"><h4><a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">FOSSASIA</a></h4><p>FOSSASIA develops Open Source software and hardware solutions with a global developer community from its base in Asia and organizes Open Technology events ar...</p></blockquote>
<script defer src="//cdn.embedly.com/widgets/platform.js"></script>
</section>

<!-- Placeholder connect -->
<section class="cover fullscreen image-slider slider-arrow-controls controls-inside parallax">
	<ul class="slides">
		<li class="overlay image-bg">
			<div class="background-image-holder">
				<img alt="image" class="background-image" src="img/singapore.jpg">
			</div>
			<div class="container v-align-transform">
				<div class="row">
					<div class="col-sm-12 text-center">
						<img alt="Logo" class="image-small" src="img/fossasia-light.png">
					</div>
				</div>

			</div>
			<div class="align-bottom text-center">
				<a class="btn btn-white mb32" href="#social-links">Connect</a>
				<ul class="list-inline social-list mb24">
					<li>
						<a href="https://twitter.com/fossasia">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://facebook.com/fossasia">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
                        <a href="https://www.instagram.com/fossasia">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://flickr.com/photos/fossasia">
                            <i class="fa fa-flickr" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/fossasia">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.vk.com/fossasia">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                        </a>
                    </li>
		    <li>
			    <a href="https://www.reddit.com/r/FOSSASIA/">
				    <i class="fa fa-reddit" aria-hidden="true"></i>
			    </a>
		    </li>			
				</ul>
			</div>
		</li>
	</ul>
</section>



<section class="bg-primary" id="loki">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-right text-left-xs col-sm-5">
				<h1 class="uppercase mb24 bold italic">Loklak<br></h1>
				<h5 class="uppercase italic fade-1-4">A FOSSASIA<br> sister project.”</h5>
				<hr class="visible-xs">
			</div>
			<div class="col-md-5 col-sm-7">
				<p>
					Distributed search and analytics framework to collect, store, search, and analyze social media.
				</p>

				<p>
					loklak is a server application which is able to collect messages from various sources, including twitter. The server contains a search index and a peer-to-peer index sharing interface. All messages are stored in an elasticsearch index. Visit <a href="https://loklak.org/">Loklak Website.</a>
				</p>

				<p>
					'Lok Lak' is also a very tasty Cambodian stir-fry meat dish (usually beef) with a LOT of fresh black pepper. If you ever have the chance to eat Beef Lok Lak, please try it. Hope not to scare vegetarians with this name.
				
			</div>
		</div>
	</div>
</section>

{% include footer.html %}
