<!-- Footer -->
			<footer class="footer-2 bg-dark" id="social-links">
		   		<div class="container">
					<div class="row">
						<div class="col-sm-3 text-left">
							<div class="vnu"><img alt="Logo" class="footer-logo" src="img/fossasia-light.png"></div>
						</div>
						<div class="col-sm-3 text-left"></div>
						<div class="col-sm-6 text-right">
							<ul class="list-inline social-list" style="font-size: 17px;padding: 10.5px;">
								<li>
									<a href="https://twitter.com/fossasia">
										<i class="ti-twitter-alt"></i>
									</a>
								</li>
								<li>
									<a href="https://facebook.com/fossasia">
										<i class="ti-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://plus.google.com/108920596016838318216">
										<i class=" ti-google" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/groups/FOSSASIA-3762811">
										<i class=" ti-linkedin" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/fossasia">
										<i class=" ti-github" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://flickr.com/photos/fossasia">
										<i class=" ti-flickr-alt" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">
										<i class=" ti-youtube" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/fossasia">
										<i class=" ti-instagram" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
		   </footer>

			<footer class="footer-1 bg-dark">
				
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget">
								<h6 class="title">Products</h6>
								<hr>
								<a href="#">A product</a><br>
								<a href="#">Another product</a><br>
								<a href="#">Yet another product</a><br>
							</div>

						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget">
								<h6 class="title">Recent Posts</h6>
								<hr>
								<ul class="link-list recent-posts">
									<li>
										<a href="#">Hugging pugs is super trendy</a>
										<span class="date">February
											<span class="number">14, 2015</span>
										</span>
									</li>
									<li>
										<a href="#">Spinning vinyl is oh so cool</a>
										<span class="date">February
											<span class="number">9, 2015</span>
										</span>
									</li>
									<li>
										<a href="#">Superior theme design by pros</a>
										<span class="date">January
											<span class="number">27, 2015</span>
										</span>
									</li>
								</ul>
							</div>
							
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget">
								<h6 class="title">Latest Updates</h6>
								<hr>
								<div class="twitter-feed">
									<div class="tweets-feed" data-feed-name="mrareweb" id="tweets-0">
									</div>
								</div>
							</div>
							
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget">
								<h6 class="title">Instagram</h6>
								<hr>
								<a href="https://fossasia.org/" class="foss-links"><i class="ti-world" aria-hidden="true"></i> Main Site</a><br>
								<a href="https://blog.fossasia.org" class="foss-links"><i class="ti-rss" aria-hidden="true"></i> Blog</a><br>
								<a href="https://codein.withgoogle.com/organizations/fossasia/" class="foss-links"><i class=" ti-bag" aria-hidden="true"></i> Google Code-In Page </a><br>
								<a href="https://events.fossasia.org" class="foss-links"><i class=" ti-calendar" aria-hidden="true"></i> Events</a><br>
								<a href="https://gci17.fossasia.org" class="foss-links"><i class="ti-link" aria-hidden="true"></i> Fossasia 2017</a><br>
								<a href="#" class="foss-links"><i class="ti-arrow-up" aria-hidden="true"></i> Top of the Page</a><br>
							</div>
							
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<span class="sub">© Copyright 2017 - FOSSASIA</span>
						</div>
						<div class="col-sm-6 text-right">
							<ul class="list-inline social-list">
								<li>
									<a href="https://twitter.com/fossasia">
										<i class="ti-twitter-alt"></i>
									</a>
								</li>
								<li>
									<a href="https://facebook.com/fossasia">
										<i class="ti-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://plus.google.com/108920596016838318216">
										<i class=" ti-google " aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/groups/FOSSASIA-3762811">
										<i class=" ti-linkedin " aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/fossasia">
										<i class=" ti-github " aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://flickr.com/photos/fossasia">
										<i class=" ti-flickr-alt " aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">
										<i class=" ti-youtube  " aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
			</footer>
		</div>
		
				
	<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/flexslider.min.js"></script>
		<script src="js/lightbox.min.js"></script>
		<script src="js/masonry.min.js"></script>
		<script src="js/flickr.js"></script>
		<script src="js/twitterfetcher.min.js"></script>
		<script src="js/spectragram.min.js"></script>
		<script src="js/smooth-scroll.min.js"></script>
		<script src="js/parallax.js"></script>
		<script src="js/scripts.js"></script>
		<script type="text/javascript">
        	/* Smooth Scroll */
       		$('a[href*="#"]').not('[href="#"]')
                                 .not('[href="#0"]')
                                 .click(function(event) {
                                     if (
		  				location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
		  				&&
		  				location.hostname == this.hostname
		  			) {
		  				var target = $(this.hash);
		  				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
		  				if (target.length) {
		  					event.preventDefault();
		  					$('html, body').animate({
		  						scrollTop: target.offset().top
		  					}, 1000, 'swing', function() {
		  						var $target = $(target);
		  						$target.focus();
		  						if ($target.is(":focus")) {
		  							return false;
		  						} else {
		  							$target.attr('tabindex','-1');
		  							$target.focus();
		  						};
		  					});
		  				}
		  			}
                                 });
        window.initMap = function() {
            var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 2,
                    scrollwheel: false,
                    center: {
                      lat: 0,
                      lng: 0
                    },
                    styles: [{
			                "featureType": "administrative",
			                "elementType": "all",
			                "stylers": [{
			                    "saturation": "-100"
			                }]
			            },
			            {
			                "featureType": "administrative.province",
			                "elementType": "all",
			                "stylers": [{
			                    "visibility": "off"
			                }]
			            },
			            {
			                "featureType": "landscape",
			                "elementType": "all",
			                "stylers": [{
			                        "saturation": -100
			                    },
			                    {
			                        "lightness": 65
			                    },
			                    {
			                        "visibility": "on"
			                    }
			                ]
			            },
			            {
			                "featureType": "poi",
			                "elementType": "all",
			                "stylers": [{
			                        "saturation": -100
			                    },
			                    {
			                        "lightness": "50"
			                    },
			                    {
			                        "visibility": "simplified"
			                    }
			                ]
			            },
			            {
			                "featureType": "road",
			                "elementType": "all",
			                "stylers": [{
			                    "saturation": "-100"
			                }]
			            },
			            {
			                "featureType": "road.highway",
			                "elementType": "all",
			                "stylers": [{
			                    "visibility": "simplified"
			                }]
			            },
			            {
			                "featureType": "road.arterial",
			                "elementType": "all",
			                "stylers": [{
			                    "lightness": "30"
			                }]
			            },
			            {
			                "featureType": "road.local",
			                "elementType": "all",
			                "stylers": [{
			                    "lightness": "40"
			                }]
			            },
			            {
			                "featureType": "transit",
			                "elementType": "all",
			                "stylers": [{
			                        "saturation": -100
			                    },
			                    {
			                        "visibility": "simplified"
			                    }
			                ]
			            },
			            {
			                "featureType": "water",
			                "elementType": "geometry",
			                "stylers": [{
			                        "hue": "#ffff00"
			                    },
			                    {
			                        "lightness": -25
			                    },
			                    {
			                        "saturation": -97
			                    }
			                ]
			            },
			            {
			                "featureType": "water",
			                "elementType": "labels",
			                "stylers": [{
			                        "lightness": -25
			                    },
			                    {
			                        "saturation": -100
			                    }
			                ]
			            }
			        ]
          });
          var marker;
          var marker2;
          var infowindow = null;
          {% for mentor in site.data.mentors %}
              {% if mentor.lat %}
                  marker = new google.maps.Marker({
                      position: new google.maps.LatLng({{mentor.lat}}, {{mentor.lng}}),
                      label: 'M',
                      map: map
                  });
                  infowindow = null;
                  var content = "<div><img class='img-rounded' src='img/mentors/{{mentor.image}}' width='240' height='240'><br/>{{mentor.name}}<br/></div>";
                  google.maps.event.addListener(marker, 'click', (function(marker, content) {
                      return function() {
                          if (infowindow) {
                            infowindow.close();
                          }
                          infowindow = new google.maps.InfoWindow();
                          infowindow.setContent(content);
                          infowindow.open(map, marker);
                      };
                  })(marker, content));
              {% endif %}
          {% endfor %}
          {% for student in site.data.students %}
              {% if student.lat %}
                  marker2 = new google.maps.Marker({
                      position: new google.maps.LatLng({{student.lat}}, {{student.lng}}),
                      label : 'S',
                      map: map
                  });
                  infowindow = null;
                  var content = "<div><img class='img-rounded' src='img/students/{{student.image}}' width='240' height='240'><br/>{{student.name}}<br/></div>";
                  google.maps.event.addListener(marker2, 'click', (function(marker2, content) {
                      return function() {
                          if (infowindow) {
                            infowindow.close();
                          }
                          infowindow = new google.maps.InfoWindow();
                          infowindow.setContent(content);
                          infowindow.open(map, marker2);
                      };
                  })(marker2, content));
              {% endif %}
          {% endfor %}
        };
        </script>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDEdg77hrkUariqipecWIb0_sh-ii5DiMk &callback=initMap" async defer></script>
	</body>
</html>