<!-- Footer -->
			<footer class="footer-2 bg-dark" id="social-links">
		   		<div class="container">
					<div class="row">
						<div class="col-sm-3 text-left">
							<div class="vnu"><img alt="Logo" class="footer-logo" src="img/fossasia-light.png"></div>
						</div>
						<div class="col-sm-3 text-left"></div>
						<div class="col-sm-6 text-right">
							<ul class="list-inline social-list" style="font-size: 17px;padding: 10.5px;">
								<li>
									<a href="https://twitter.com/fossasia">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://facebook.com/fossasia">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://plus.google.com/108920596016838318216">
										<i class="fa fa-google" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/groups/FOSSASIA-3762811">
										<i class="fa fa-linkedin" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/fossasia">
										<i class="fa fa-github" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://flickr.com/photos/fossasia">
										<i class="fa fa-flickr" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">
										<i class="fa fa-youtube" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/fossasia">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.vk.com/fossasia">
										<i class="fa fa-vk" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.reddit.com/r/FOSSASIA/">
										<i class="fa fa-reddit"></i>
									</a>
								</li>
								<li>
									<a href="https://in.pinterest.com/fossasia/">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
		   </footer>

			<footer class="footer-1 bg-dark">

				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="widget">
								<h6 class="title">Projects</h6>
								<hr>
								<a href="https://github.com/fossasia/open-event-server">Open Event Server</a><br>
								<a href="https://github.com/fossasia/susi_server">Susi Server</a><br>
								<a href="https://github.com/fossasia/loklak_search">Loklak Search</a><br>
								<a href="https://github.com/fossasia/yaydoc">Yaydoc</a><br>
								<a href="https://github.com/fossasia/open-event-webapp">Open Event Web App</a><br>
								<a href="https://github.com/fossasia/susi_android">Android App for Susi</a><br>
								<a href="https://github.com/fossasia/susi_desktop">Susi for desktop</a><br>
								<a href="https://github.com/fossasia/meilix">Meilix - Beautiful Linux OS</a><br>
								<a href="https://github.com/fossasia">More...</a><br>
							</div>

						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget">
								<h6 class="title">Latest tweets</h6>
								<hr>
								<div class="twitter-feed">
									<div class="tweets-feed" data-feed-name="mariobehling" id="tweets-0">
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-3 col-sm-6">
							<br><br>
							<div class="widget">
								<div class="twitter-feed">
									<div class="tweets-feed" data-feed-name="hpdang" id="tweets-0">
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget">
								<h6 class="title">Instagram</h6>
								<hr>
								<a href="https://fossasia.org/" class="foss-links"><i class="ti-world" aria-hidden="true"></i> Main Site</a><br>
								<a href="https://blog.fossasia.org" class="foss-links"><i class="ti-rss" aria-hidden="true"></i> Blog</a><br>
								<a href="https://codein.withgoogle.com/organizations/fossasia/" class="foss-links"><i class=" ti-bag" aria-hidden="true"></i> Google Code-In Page </a><br>
								<a href="https://events.fossasia.org" class="foss-links"><i class=" ti-calendar" aria-hidden="true"></i> Events</a><br>
								<a href="https://gci17.fossasia.org" class="foss-links"><i class="ti-link" aria-hidden="true"></i> Fossasia 2017</a><br>
								<a href="#" class="foss-links"><i class="ti-arrow-up" aria-hidden="true"></i> Top of the Page</a><br>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<span class="sub">© Copyright 2017 - FOSSASIA</span>
						</div>
						<div class="col-sm-6 text-right">
							<ul class="list-inline social-list">
								<li>
									<a href="https://twitter.com/fossasia">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://facebook.com/fossasia">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://plus.google.com/108920596016838318216">
										<i class="fa fa-google" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/groups/FOSSASIA-3762811">
										<i class="fa fa-linkedin" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/fossasia">
										<i class="fa fa-github" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://flickr.com/photos/fossasia">
										<i class="fa fa-flickr" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ">
										<i class="fa fa-youtube" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/fossasia">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.vk.com/fossasia">
										<i class="fa fa-vk" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.reddit.com/r/FOSSASIA/">
										<i class="fa fa-reddit"></i>
									</a>
								</li>
								<li>
									<a href="https://in.pinterest.com/fossasia/">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
			</footer>
		</div>


	<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/flexslider.min.js"></script>
		<script src="js/lightbox.min.js"></script>
		<script src="js/masonry.min.js"></script>
		<script src="js/flickr.js"></script>
		<script src="js/twitterfetcher.min.js"></script>
		<script src="js/spectragram.min.js"></script>
		<script src="js/smooth-scroll.min.js"></script>
		<script src="js/parallax.js"></script>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<script async defer src="https://apis.google.com/js/platform.js" ></script>
		<script type="text/javascript">var issueArr = [];</script>
		<script src="js/contributors.js"></script>
		<script src="js/inview.js"></script>
		<script src="js/scripts.js"></script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script type="text/javascript">
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
			}
		</script>
		<script type="text/javascript">
        	/* Smooth Scroll */
       		$('a[href*="#"]').not('[href="#"]')
                                 .not('[href="#0"]')
                                 .click(function(event) {
                                     if (
		  				location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
		  				&&
		  				location.hostname == this.hostname
		  			) {
		  				var target = $(this.hash);
		  				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
		  				if (target.length) {
		  					event.preventDefault();
		  					$('html, body').animate({
		  						scrollTop: target.offset().top
		  					}, 1000, 'swing', function() {
		  						var $target = $(target);
		  						$target.focus();
		  						if ($target.is(":focus")) {
		  							return false;
		  						} else {
		  							$target.attr('tabindex','-1');
		  							$target.focus();
		  						};
		  					});
		  				}
		  			}
                                 });
        </script>
        <script src="https://openlayers.org/api/OpenLayers.js"></script>
        <script>
            map = new OpenLayers.Map("map");
            map.addLayer(new OpenLayers.Layer.OSM());
    
            epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
            projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
            var lonLat = new OpenLayers.LonLat(0,0).transform(epsg4326, projectTo);
            map.setCenter (lonLat, 0);

            var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

            {% for student in site.data.students %}
                {% if student.lat %}
                    var feature = new OpenLayers.Feature.Vector(
                            new OpenLayers.Geometry.Point({{student.lng}}, {{student.lat}}).transform(epsg4326, projectTo),
                            {description:'{{student.name}}'} ,
                            {externalGraphic: 'img/student_marker.png', graphicHeight: 30, graphicWidth: 25, graphicXOffset:-12, graphicYOffset:-25}
                    );    
                    vectorLayer.addFeatures(feature);
                {% endif %}
            {% endfor %}
            {% for mentor in site.data.mentors %}
                {% if mentor.lat %}
                    var feature = new OpenLayers.Feature.Vector(
                            new OpenLayers.Geometry.Point({{mentor.lng}}, {{mentor.lat}}).transform(epsg4326, projectTo),
                            {description:'{{mentor.name}}'} ,
                            {externalGraphic: 'img/mentor_marker.png', graphicHeight: 30, graphicWidth: 25, graphicXOffset:-12, graphicYOffset:-25}
                    );
                    vectorLayer.addFeatures(feature);
                {% endif %}
            {% endfor %}

            map.addLayer(vectorLayer);
 
    
            //Add a selector control to the vectorLayer with popup functions
            var controls = {
                selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
            };

            function createPopup(feature) {
                feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                    feature.geometry.getBounds().getCenterLonLat(),
                        null,
                        '<div class="markerContent">'+feature.attributes.description+'</div>',
                        null,
                        true,
                        function() { controls['selector'].unselectAll();
                    });
                //feature.popup.closeOnMove = true;
                map.addPopup(feature.popup);
            }

            function destroyPopup(feature) {
                feature.popup.destroy();
                feature.popup = null;
            }
    
            map.addControl(controls['selector']);
            controls['selector'].activate();
        </script>
        <script>
		    if ('serviceWorker' in navigator) {
		      navigator.serviceWorker.register('sw.js')
		        .then(function(registration) {
		          console.log('Service Worker registration successful with scope: ',
		          registration.scope);
		        })
		        .catch(function(err) {
		          console.log('Service Worker registration failed: ', err);
		        });
		    }
	    </script>
    </body>
</html>
