/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html {
  min-height: 100%;
}
body {
  height: 100%;
  background-image: url('../img/background.jpg');
  background-color: #A73737;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

@media screen and (min-width: 768px) {
  html {
    height: 100%;
  }
  .site-wrapper-inner {
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
  }
  .cover-container {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    width: 100%;
  }
  
  .inner {
    padding: 30px;
  }
}

/* Padding for spacing */
.inner {
  padding: 10px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.masthead-nav {
	font-family: 'Open Sans Condensed', sans-serif;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead, .mastfoot {
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  height: 40px;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  display: none;
}

.mastfoot p {
  margin: 0
}

.title {
    font-size: 40pt;
    font-family: 'Josefin Sans', sans-serif;
}
.cover {
	line-height: 70px;
}
.segue1 {
    font-size: 14pt;
   /* font-style: italic; */
     margin-bottom: -20px; 
    font-family: 'Open Sans Condensed', sans-serif;
}

.segue2 {
    font-size: 10pt;
   /* font-style: italic; */
    margin-bottom: -20px; 
   /* font-family: 'Open Sans', sans-serif; */
   font-family: 'Open Sans Condensed', sans-serif;
}

.subtitle {
    font-size: 15pt;
    margin-top: -10px;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.btn {
	border-radius: 0px;
	border-color: #fff;
	width: 300px;
	font-family: 'Open Sans', sans-serif;

}

.btn-success {
	background: none;
}

.btn-danger {
	background: transparent;
}

.btn-warning {
	background: transparent;
}

@media (min-width: 480px) {
    .title {
        font-size: 64pt;
    }

    .segue1 {
        font-size: 28pt;
    }

    .segue2 {
        font-size: 32pt;
    }

    .subtitle {
        font-size: 24pt;
    }
    .mastfoot {
        display: block;
    }
}

@media (min-width: 768px) {
  /* Handle the widths */
  .masthead,
  .mastfoot {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot {
    width: 950px;
  }
}
