

	.grid-form .form-control {
		display: block;
		width: 100% !important;
	}

/* Feature */

	.features:after {
		content: '';
		display: block;
		clear: both;
	}

	.features .feature {
		display: block;
		float: left;
	}
